header.flex
  section.flex.header-flex
    div.flex.header-nav
      button.flex.header-button#main
        ion-icon(name="menu-outline")
      h1.header-title= titleSection
    div.flex.header-options
      span= user
      button.flex#session
        ion-icon(name="exit-outline")
    //-   button.flex.header-options-item
    //-     ion-icon(name="mail-outline")
    //-   button.flex.header-options-avatar
    //-     img(src="https://jingdaily.com/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Ff8lauh0h%2Fproduction%2F08e8019064ef90ff0ccb72b4e96fc53b28bf8700-1280x720.jpg%3Fq%3D95%26fit%3Dmax%26auto%3Dformat&w=3840&q=95", alt="avatar")
